@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  padding: 30px;
  color:#303030;
  background-color:#335625;
  font-family:'Raleway',sans-serif;
  
}

.shop-container {
  width:1400px;
  margin:40px;
}

.shop-header {
  color:white;
  margin:40px;

}

.shop-header h1 {
  font-size:3.5rem;
  margin:20px;
}

.shop-header p {
  font-size:1.6rem;
  opacity:0.8;
  width:800px;
font-family:'Caveat',cursive;
}

.categories {
}

.category {
    transition: all 0.3s ease;
}

.category:hover, .category.active {
  background: #8dc26f;
  border-color: #8dc26f;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
}

.product-card {
  overflow: hidden;
}


.product-image {
  height: 300px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.product-details {
  display: flex;
  flex-direction: column;
  height: 250px;
}

.product-name {

}

.product-description {
  flex-grow: 1;
}

.product-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

.product-price {

}

.add-to-cart {
  cursor: pointer;
  transition: background 0.3s ease;
}

.add-to-cart:hover {

}

@media (max-width: 768px) {
  .shop-header h1 {
    font-size: 2.5rem;
  }

  .products-grid {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
  }

  .product-image {
    height: 250px;
  }
}

.product-card[data-hidden="true"] {
  display: none;
}